<header class="header" id="header">
    <div class="header_toggle"> <i class="bi bi-list"></i></div>
    <div class="d-none d-xxl-block w-100">
        <div class="input-group">
            <button type="button" (click)="toggleBodyClass()">
                <img src="../../assets/icons/search.svg" />
            </button>
            <div class="form-outline">
                <input type="search" id="form1" class="form-control" placeholder="Search..." />
            </div>
        </div>
    </div>
    <ul class="ul-nav-menu right w-100">
        <li><img src="../../assets/icons/Flag.svg" alt="flag" /></li>
        <li><img src="../../assets/icons/category.svg" alt="category" /></li>
        <li><img src="../../assets/icons/shopping-bag.svg" alt="cart" /></li>
        <li><img src="../../assets/icons/bx-fullscreen.svg" alt="fullscreen" /></li>
        <li><img src="../../assets/icons/bx-moon.svg" alt="moon" /></li>
        <li><img src="../../assets/icons/bx-bell.svg" alt="notification" /></li>
        <li class="last-child">
            <img src="../../assets/icons/Ellipse.svg" alt="user" />
            <div>
                <label>Anna Adame</label>
                <span>Founder</span>
            </div>
        </li>
    </ul>
</header>