<div class="l-navbar" id="side-nav-bar">
    <nav class="nav">
        <div>
            <a href="javascript:void(0);" class="nav_logo">
                <i class="bx bx-layer nav_logo-icon"></i>
                <span class="nav_logo-name">
                    <img src="../../assets/icons/logo.svg" />
                </span>
            </a>
            <div class="nav_list">
                <a href="javascript:void(0);" class="nav_link active">
                    <object data="../../assets/icons/dashboard.svg" type="image/svg+xml"></object>

                    <span class="nav_name">Dashboard</span>
                </a>
                <a href="javascript:void(0);" class="nav_link">
                    <object data="../../assets/icons/Object1.svg" type="image/svg+xml"></object>
                    <span class="nav_name">Page 1</span>
                </a>
                <a href="javascript:void(0);" class="nav_link">
                    <img src="../../assets/icons/Object2.svg" class="svg" />
                    <span class="nav_name">Page 2</span>
                </a>
                <a href="javascript:void(0);" class="nav_link">
                    <img src="../../assets/icons/Object3.svg" />
                    <span class="nav_name">Page 3</span>
                </a>
                <a href="javascript:void(0);" class="nav_link">
                    <img src="../../assets/icons/Object4.svg" />
                    <span class="nav_name">Page 4</span>
                </a>
                <a href="javascript:void(0);" class="nav_link">
                    <img src="../../assets/icons/Object5.svg" />
                    <span class="nav_name">Page 5</span>
                </a>
                <a href="javascript:void(0);" class="nav_link">
                    <img src="../../assets/icons/Object6.svg" />
                    <span class="nav_name">Page 6</span>
                </a>
                <a href="javascript:void(0);" class="nav_link">
                    <img src="../../assets/icons/Object7.svg" />
                    <span class="nav_name">Page 7</span>
                </a>
                <a href="javascript:void(0);" class="nav_link">
                    <img src="../../assets/icons/Object8.svg" />
                    <span class="nav_name">Page 8</span>
                </a>
                <a href="javascript:void(0);" class="nav_link">
                    <img src="../../assets/icons/Object9.svg" />
                    <span class="nav_name">Page 9</span>
                </a>
                <a href="javascript:void(0);" class="nav_link">
                    <img src="../../assets/icons/Object10.svg" />
                    <span class="nav_name">Page 10</span>
                </a>
                <a href="javascript:void(0);" class="nav_link">
                    <img src="../../assets/icons/Object11.svg" />
                    <span class="nav_name">Page 11</span>
                </a>
                <a href="javascript:void(0);" class="nav_link">
                    <img src="../../assets/icons/Object12.svg" />
                    <span class="nav_name">Page 12</span>
                </a>
                <a href="javascript:void(0);" class="nav_link">
                    <img src="../../assets/icons/Object13.svg" />
                    <span class="nav_name">Page 13</span>
                </a>
            </div>
        </div>
        <!-- <a href="javascript:void(0);" class="nav_link">
            <i class="bx bx-log-out nav_icon"></i>
            <span class="nav_name">SignOut</span>
        </a> -->
    </nav>
</div>