<section class="">
    <div class="row align-items-start mx-3 search_panel">
        <div class="col-6">
            <div class="input-group">
                <button type="button">
                    <img src="../../assets/icons/search.svg" />
                </button>
                <div class="form-outline col-md-8 col-12">
                    <input type="search" id="form1" class="form-control"
                        placeholder="Search for sellers & owner name" />
                </div>
            </div>
        </div>
        <div class="col-6 float-end">
            <button type="submit" class="btn btn-submit float-end"><i class="bi bi-plus-lg"></i>Invite staff</button>
        </div>
    </div>
</section>