<section>
    <div class="cover">
        <div class="row align-items-start mx-3">
            <div class="col-12">
                <div class="staff">
                    <div class="staff_profile">
                        <img src="../../assets/icons/Ellipse.svg" class="staff_profile-img" />
                        <input type="file" class="staff_profile-file" id="file-upload" hidden />
                        <img src="../../assets/icons/image-upload.svg" class="staff_profile-upload" for="file-upload" />
                    </div>
                    <div class="staff_dec">
                        <h4 class="staff_dec-name">Anna Adame</h4>
                        <label class="staff_dec-role">Admin</label>
                    </div>
                </div>
                <div class="customTab col-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="simple-tab-0" data-bs-toggle="tab" href="#simple-tabpanel-0"
                                role="tab" aria-controls="simple-tabpanel-0" aria-selected="true">Overview</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="simple-tab-1" data-bs-toggle="tab" href="#simple-tabpanel-1"
                                role="tab" aria-controls="simple-tabpanel-1" aria-selected="false">Assets</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="simple-tab-2" data-bs-toggle="tab" href="#simple-tabpanel-2"
                                role="tab" aria-controls="simple-tabpanel-2" aria-selected="false">Clients</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="simple-tab-3" data-bs-toggle="tab" href="#simple-tabpanel-3"
                                role="tab" aria-controls="simple-tabpanel-3" aria-selected="false">Organization</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="simple-tab-4" data-bs-toggle="tab" href="#simple-tabpanel-4"
                                role="tab" aria-controls="simple-tabpanel-4" aria-selected="false">Recent
                                activity</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="simple-tab-5" data-bs-toggle="tab" href="#simple-tabpanel-5"
                                role="tab" aria-controls="simple-tabpanel-5" aria-selected="false">Wallet</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12">
                    <div class="tab-content" id="tab-content">
                        <div class="tab-pane active" id="simple-tabpanel-0" role="tabpanel"
                            aria-labelledby="simple-tab-0">
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <div class="personalInfo panel_box">
                                        <div class="panel_title">
                                            <h6>Personal Information</h6>
                                        </div>
                                        <table class="personalInfo_table">
                                            <tbody>
                                                <tr>
                                                    <td>Full Name :</td>
                                                    <td>Anna Adame</td>
                                                </tr>
                                                <tr>
                                                    <td>Mobile :</td>
                                                    <td>+(1) 987 6543</td>
                                                </tr>
                                                <tr>
                                                    <td>E-mail :</td>
                                                    <td>daveadame&#64;velzon.com</td>
                                                </tr>
                                                <tr>
                                                    <td>Location :</td>
                                                    <td>California, United States</td>
                                                </tr>
                                                <tr>
                                                    <td>Joining Date :</td>
                                                    <td>24 Nov 2021</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="clientInfo panel_box">
                                        <table class="personalInfo_table">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <h6 class="m-0">Client assigned</h6>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger"><i class="bi bi-share"></i> Add
                                                            Clients</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Nancy Martino</td>
                                                    <td><button class="btn btn-ordinary"> Active</button><i
                                                            class="bi bi-three-dots"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Craig Press</td>
                                                    <td><button class="btn btn-ordinary"> Active</button><i
                                                            class="bi bi-three-dots"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Emery Calzoni</td>
                                                    <td><button class="btn btn-ordinary"> Inactive</button><i
                                                            class="bi bi-three-dots"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Randy Aminoff</td>
                                                    <td><button class="btn btn-ordinary"> Active</button><i
                                                            class="bi bi-three-dots"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-12 col-md-8">
                                    <div class="staff_info panel_box">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active" id="staff_info-tab-0" data-bs-toggle="tab"
                                                    href="#staff_info-tabpanel-0" role="tab"
                                                    aria-controls="staff_info-tabpanel-0" aria-selected="true">Personal
                                                    Deatils</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="staff_info-tab-1" data-bs-toggle="tab"
                                                    href="#staff_info-tabpanel-1" role="tab"
                                                    aria-controls="staff_info-tabpanel-1" aria-selected="false">Change
                                                    Password</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="tab-content">
                                            <div class="tab-pane active" id="staff_info-tabpanel-0" role="tabpanel"
                                                aria-labelledby="staff_info-tab-0">
                                                <div class="row">
                                                    <div class="col-12 col-md-6">
                                                        <div class="mb-4">
                                                            <label for="exampleFormControlInput1"
                                                                class="form-label">First Name</label>
                                                            <input type="text" class="form-control"
                                                                id="exampleFormControlInput1" placeholder="Anna">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="mb-4">
                                                            <label for="exampleFormControlInput1"
                                                                class="form-label">Last Name</label>
                                                            <input type="text" class="form-control"
                                                                id="exampleFormControlInput1" placeholder="Adame">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="mb-4">
                                                            <label for="exampleFormControlInput1"
                                                                class="form-label">Phone Number</label>
                                                            <input type="text" class="form-control"
                                                                id="exampleFormControlInput1"
                                                                placeholder="+(1) 987 6543">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="mb-4">
                                                            <label for="exampleFormControlInput1"
                                                                class="form-label">Email
                                                                address</label>
                                                            <input type="email" class="form-control"
                                                                id="exampleFormControlInput1"
                                                                placeholder="annaadame@velzon.com">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="mb-4">
                                                            <label for="exampleFormControlInput1"
                                                                class="form-label">Joining Date</label>
                                                            <input type="date" class="form-control date"
                                                                id="exampleFormControlInput1" placeholder="dd/mm/yyyy">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="mb-4">
                                                            <label for="exampleFormControlInput1"
                                                                class="form-label">Role</label>
                                                            <input type="text" class="form-control"
                                                                id="exampleFormControlInput1"
                                                                placeholder="Lead Designer / Developer">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="mb-4">
                                                            <label for="exampleFormControlInput1"
                                                                class="form-label">City</label>
                                                            <input type="text" class="form-control"
                                                                id="exampleFormControlInput1" placeholder="California">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="mb-4">
                                                            <label for="exampleFormControlInput1"
                                                                class="form-label">Country</label>
                                                            <input type="text" class="form-control"
                                                                id="exampleFormControlInput1"
                                                                placeholder="United States">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="mb-4">
                                                            <label for="exampleFormControlInput1" class="form-label">Zip
                                                                Code</label>
                                                            <input type="text" class="form-control"
                                                                id="exampleFormControlInput1" placeholder="90011">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 float-end">
                                                        <button type="submit"
                                                            class="btn btn-info float-end">Update</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="staff_info-tabpanel-1" role="tabpanel"
                                                aria-labelledby="staff_info-tab-1">
                                                <div class="row">
                                                    <div class="col-12 col-md-4">
                                                        <div class="mb-4">
                                                            <label for="exampleFormControlInput1" class="form-label">Old
                                                                Password</label>
                                                            <input type="password" class="form-control"
                                                                id="exampleFormControlInput1" placeholder="Password">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="mb-4">
                                                            <label for="exampleFormControlInput1" class="form-label">New
                                                                Password</label>
                                                            <input type="password" class="form-control"
                                                                id="exampleFormControlInput1" placeholder="Password">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="mb-4">
                                                            <label for="exampleFormControlInput1"
                                                                class="form-label">Confirm Password</label>
                                                            <input type="text" class="form-control"
                                                                id="exampleFormControlInput1" placeholder="Password">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 float-end">
                                                        <button type="submit"
                                                            class="btn btn-info float-end">Update</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="simple-tabpanel-1" role="tabpanel" aria-labelledby="simple-tab-1">
                        </div>
                        <div class="tab-pane" id="simple-tabpanel-2" role="tabpanel" aria-labelledby="simple-tab-2">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>