<app-breadcrumb></app-breadcrumb>
<app-search-panel></app-search-panel>
<section class="staff_tiles">
    <div class="row align-items-start mx-3">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-head bg-1">
                    <div class="profile">
                        <img src="../../assets/images/staff1.png" class="profile-img" />
                    </div>
                    <div class="dec">
                        <h6 class="dec-name">Emery Bator</h6>
                        <label class="dec-role">Admin</label>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="ul-asset">
                        <li>
                            <h6 class="card-title">363</h6>
                            <p class="card-text">assets</p>
                        </li>
                        <li>
                            <div class="img-group">
                                <img src="../../assets/images/User1.png" class="overlap-1" />
                                <img src="../../assets/images/User2.png" class="overlap-2" />
                                <img src="../../assets/images/User3.png" class="overlap-3" />
                                <span class="card-title">+4</span>
                            </div>
                            <p class="card-text">clients</p>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-ordinary w-100">View profile</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-head bg-2">
                    <div class="profile">
                        <img src="../../assets/images/staff2.png" class="profile-img" />
                    </div>
                    <div class="dec">
                        <h6 class="dec-name">Gretchen Aminoff</h6>
                        <label class="dec-role">Admin</label>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="ul-asset">
                        <li>
                            <h6 class="card-title">363</h6>
                            <p class="card-text">assets</p>
                        </li>
                        <li>
                            <div class="img-group">
                                <img src="../../assets/images/User1.png" class="overlap-1" />
                                <img src="../../assets/images/User2.png" class="overlap-2" />
                                <img src="../../assets/images/User3.png" class="overlap-3" />
                                <span class="card-title">+4</span>
                            </div>
                            <p class="card-text">clients</p>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-ordinary w-100">View profile</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-head bg-3">
                    <div class="profile">
                        <img src="../../assets/images/staff3.png" class="profile-img" />
                    </div>
                    <div class="dec">
                        <h6 class="dec-name">Mira Mango</h6>
                        <label class="dec-role">Staff</label>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="ul-asset">
                        <li>
                            <h6 class="card-title">363</h6>
                            <p class="card-text">assets</p>
                        </li>
                        <li>
                            <div class="img-group">
                                <img src="../../assets/images/User1.png" class="overlap-1" />
                                <img src="../../assets/images/User2.png" class="overlap-2" />
                                <img src="../../assets/images/User3.png" class="overlap-3" />
                                <span class="card-title">+4</span>
                            </div>
                            <p class="card-text">clients</p>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-ordinary w-100">View profile</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-head bg-4">
                    <div class="profile">
                        <img src="../../assets/images/staff4.png" class="profile-img" />
                    </div>
                    <div class="dec">
                        <h6 class="dec-name">Talan Culhane</h6>
                        <label class="dec-role">Admin</label>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="ul-asset">
                        <li>
                            <h6 class="card-title">363</h6>
                            <p class="card-text">assets</p>
                        </li>
                        <li>
                            <div class="img-group">
                                <img src="../../assets/images/User1.png" class="overlap-1" />
                                <img src="../../assets/images/User2.png" class="overlap-2" />
                                <img src="../../assets/images/User3.png" class="overlap-3" />
                                <span class="card-title">+4</span>
                            </div>
                            <p class="card-text">clients</p>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-ordinary w-100">View profile</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-head bg-5">
                    <div class="profile">
                        <img src="../../assets/images/staff5.png" class="profile-img" />
                    </div>
                    <div class="dec">
                        <h6 class="dec-name">Ann Botosh</h6>
                        <label class="dec-role">Staff</label>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="ul-asset">
                        <li>
                            <h6 class="card-title">363</h6>
                            <p class="card-text">assets</p>
                        </li>
                        <li>
                            <div class="img-group">
                                <img src="../../assets/images/User1.png" class="overlap-1" />
                                <img src="../../assets/images/User2.png" class="overlap-2" />
                                <img src="../../assets/images/User3.png" class="overlap-3" />
                                <span class="card-title">+4</span>
                            </div>
                            <p class="card-text">clients</p>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-ordinary w-100">View profile</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-head bg-6">
                    <div class="profile">
                        <img src="../../assets/images/staff6.png" class="profile-img" />
                    </div>
                    <div class="dec">
                        <h6 class="dec-name">Marcus Lubin</h6>
                        <label class="dec-role">Staff</label>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="ul-asset">
                        <li>
                            <h6 class="card-title">363</h6>
                            <p class="card-text">assets</p>
                        </li>
                        <li>
                            <div class="img-group">
                                <img src="../../assets/images/User1.png" class="overlap-1" />
                                <img src="../../assets/images/User2.png" class="overlap-2" />
                                <img src="../../assets/images/User3.png" class="overlap-3" />
                                <span class="card-title">+4</span>
                            </div>
                            <p class="card-text">clients</p>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-ordinary w-100">View profile</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-head bg-7">
                    <div class="profile">
                        <img src="../../assets/images/staff7.png" class="profile-img" />
                    </div>
                    <div class="dec">
                        <h6 class="dec-name">Carla Herwitz</h6>
                        <label class="dec-role">Admin</label>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="ul-asset">
                        <li>
                            <h6 class="card-title">363</h6>
                            <p class="card-text">assets</p>
                        </li>
                        <li>
                            <div class="img-group">
                                <img src="../../assets/images/User1.png" class="overlap-1" />
                                <img src="../../assets/images/User2.png" class="overlap-2" />
                                <img src="../../assets/images/User3.png" class="overlap-3" />
                                <span class="card-title">+4</span>
                            </div>
                            <p class="card-text">clients</p>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-ordinary w-100">View profile</a>
                </div>
            </div>
        </div>

    </div>
</section>