$header-height: 3rem;
$nav-width: 56px;
$header-background: #2a2f34;
$side-Nav-color: #24292d;
$side-Nav-color-light: #afa5d9;
$white-color: #fff;
$body-font: "Nunito", sans-serif;
$body-background: #1a1d21;
$body-text-light-color: #878a99;
$body-text-color: #ced4da;
$normal-font-size: 1rem; //16px
$font-14: 0.875rem; //14px
$font-12: 0.75rem; //12px
$font-10: 0.625rem; //10px
$z-fixed: 100;
$footer-color: #212529;
$panel-bg: #212529;
$profile-border: #32383e;
$link-color: #5ea3cb;
$input-bg: #262a2f;

$primary-color: #0b5ed7;
$secondary-color: #565e64;
$success-color: #198754;
$danger-color: #fa896b;
$warning-color: #ffca2c;
$info-color: #5ea3cb;
$light-color: #f9fafb;
$dark-color: #000;
